.upload-container {
    padding: 20px;
    text-align: center;
    color: white;
  }
  
  .upload-form {
    margin-top: 20px;
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  input[type="file"] {
    display: none;
  }
  
  label {
    background-color: #007bff; /* Primary blue color */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
  }
  
  label:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  .preview-image {
    margin-top: 10px;
    max-width: 200px; /* Increased width for better preview */
    height: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    display: block; /* Ensures image is displayed below the button */
    margin-left: auto;
    margin-right: auto;
  }
  
  .audio-preview {
    margin-top: 10px;
  }
  
  .preview-audio {
    width: 100%;
    max-width: 300px; /* Limit the width of the audio player */
    margin-top: 5px;
  }
  
  .file-name {
    margin-top: 10px;
    font-size: 14px;
    color: #ddd;
  }
  
  .upload-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .upload-button:hover {
    background-color: #218838;
  }
  
  .output-container {
    display: flex; /* Use flexbox for alignment */
    justify-content: center; /* Center the video horizontally */
    align-items: center; /* Center the video vertically */
    margin-top: 20px;
    padding: 250px; /* Adjust padding to make the container more compact */
    background-color: rgba(255, 255, 255, 0); /* Light background color */
    border-radius: 10px;
    width: 50%;
    max-width: 800px; /* Adjusted max-width for the container */
    margin-left: auto;
    margin-right: auto;
    position: relative;
  
  }
  
  .output-player {
    width: 100%; /* Ensure the video takes up the full width of the container */
    max-width: 600px; /* Limit the maximum width of the video */
    height: 450px; /* Set a smaller height for the video */
    border-radius: 10px;
    margin-left: 100px;
    object-fit: cover; /* Ensure the video covers the set dimensions */
    z-index: 1;
  }
  